 h2{
    color: rgb(62, 48, 58);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 h3{
    color: #E584B3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:38px;
}
 p{
    color: #cbc4c7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
 }
 body {
  background-color: #343434;
 }
 .titulo {
  margin: 120px 0px 0px 0px;
 }
.yo {
    display: flex;
    gap: 5.5rem;
    max-width: 68.75rem;
    margin: auto;
  }
  .yo img {
    height: 25.5rem;
    width: 37.5rem;
    margin: auto;
  }
  .photo:hover {
    filter: opacity(.2);
  }
  .cuentas {
    max-width: 68.75rem;
    margin: auto;
    margin-top: 2.5rem;
    gap: 2%;
  }
  .cuentas img {
    height: 10.5rem;
    width: 10.5rem;
  }
  .carpeta {
    display: flex;
    gap: 5.5rem;
    max-width: 68.75rem;
    margin: auto;
  }
  .carpeta img {
    height: 19rem;
    width: 34rem;
    display: inline-block;
    gap: 5 rem;
  }