 h2{
    color: rgb(62, 48, 58);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 h3{
    color: rgb(178, 53, 142);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 p{
    color: rgb(62, 48, 58);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }